<footer class="footer mt-auto py-3" style="background-color: rgb(27, 27, 27);">
  <div class="container text-center">
    <span class="text-muted">© 2021 | Made By : Aanchal Mittal | Task By : The Sparks Foundation</span>
  </div>
</footer>